pipeline {
    agent any

    stages {
        stage('Checkout') {
            steps {
                git branch: 'main',
                    url: ' https://github.com/quaquazzzzzz/jenkins0902.git'
            }
        }
        
        stage('Setup Python Environment') {
            steps {
                sh 'python -m venv venv'
                sh 'source venv/bin/activate'
            }
        }
        stage('Run Tests') {
            steps {
                sh 'python -m unittest'
            }
        }
        
        // Füge hier zusätzliche Stages für die Bereitstellung hinzu, falls nötig
    }
}
